<script src="https://kit.fontawesome.com/9c7f3e0783.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="app/assets/stylesheets/user.css">
  <div class="card user-card">
    <h2>t <i class="fas fa-meteor"></i> d o - Forgot your password?</h2> 

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
